.full-screen {
    height: 100vh; /* Full screen height */
  }
  
  .center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .text-primary {
    color: white; /* Example primary text color */
  }
  #password {
    color: black; /* Example password text color */
  }
  #username {
    color: black;
  }
  
  .text-primary-foreground {
    color: #ffffff; /* Example primary foreground text color */
  }
  
  .bg-primary {
    background-color: #1d4ed8; /* Example primary background color */
  }
  
  .dark\:bg-card {
    background-color: #1e1e1e; /* Dark mode card color */
  }
  
  input {
    background-color: #ffffff; /* Input background color */
    color: #1d4ed8; /* Input text color */
  }
  
  button svg {
    transition: all 0.3s ease;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .loader {
    border: 4px solid transparent;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  